<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<form action="#"
	th:action="@{( ${empleadoForm.id} == 0 ? @{/empleado/new/submit} : @{/empleado/edit/submit})}"
	th:object="${empleadoForm}"
	method="post">
	
    <div class="form-group">
        <label for="elId">Id</label>
        <!-- Si el id es igual a 0, el campo estará desactivado -->
        <input type="text" id="elId" th:field="*{id}" th:disabled="${empleadoForm.id != null && empleadoForm.id != 0}" placeholder="id"></input>
    </div>
    
<div class="form-group"> <label for="elNombre">Nombre
<input type="text" id="elNombre" th:field="*{nombre}" placeholder="Nombre"></input> </div>
<div class="form-group"> <label for="elApellido">Apellido
<input type="text" id="elApellido" th:field="*{apellido}" placeholder="Apellido"></input>  </div>
<div class="form-group"> <label for="elTelefono">Telefono
<input type="tel" id="elTelefono" th:field="*{telefono}" placeholder="900 000 000"></input> </div>
<div class="form-group"> <label for="elDirectivo">Directivo?
<input type="checkbox" id="elDirectivo" th:field="*{directivo}"></input> </div>
<div>  <button type="submit">Enviar</button> </div>
	
</form>
